<!DOCTYPE html>
<html  lang="" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--private String name;-->
<!--private WineType wineType;-->
<!--int price;-->
<!--@DateTimeFormat(pattern = "dd-MM-yyyy")-->
<!--private LocalDate year;-->
<!--private int size;-->
<body>
<div class="container">
<form th:method="POST" action="/Winery/add">
<th:block>
<label for="name">Name</label>
    <input type="text" id="name" name="name"  placeholder="Enter Name">
    <br>
<input type="text" id="type" name="type"  placeholder="Enter wineType">
    <br>
    <input type="text" id="price" name="price"  placeholder="Enter price">
    <br>
    <input type="date" name="date"  placeholder="Enter date">
    <br>
    <input type="text" name="size" placeholder="Enter size">
    <br>
<button type="submit">Add Wine</button>
</th:block>
</form>
</div>
</body>
</html>